{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Love Stories</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Playfair+Display&display=swap"
        rel="stylesheet">

    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'home/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'home/css/magnific-popup.css' %}" rel="stylesheet">

    <link href="{% static 'home/css/tooplate-wedding-lite.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'core/img/favicon.png' %}" type="image/x-icon">

    <style type="text/css">
        .hero-container {
            background-image: url("{% static 'home/images/hero-es.png' %}");
        }

        .site-footer {
            background-image: url("{% static 'home/images/footer.png' %}");
        }

        .rsvp-section {
            background-image: url("{% static 'home/images/form.png' %}");
        }

        html,
        body {
            overscroll-behavior: none;
        }
    </style>

    <!--

    Tooplate 2131 Wedding Lite

    https://www.tooplate.com/view/2131-wedding-lite

    Free Bootstrap 5 HTML Template

    Tooplate.com HTML Templates

    You can edit and use this template for any purpose (personal or commercial) of your website. You can modify text and images to suit your own website or client websites.

    You are NOT allowed to re-distribute our template ZIP file for any reason on your template sites or template collection sites.

    You can feature our templates on your blog posts that collect good templates. You can put a screenshot and a link back to our template page. That is helpful for us.

    THANK YOU

    -->

</head>

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="spinner-rotate">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
            </span>
        </div>
    </section>

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a href="/" class="navbar-brand mx-auto mx-lg-0">
                <span>Love</span>
                <i class="bi-heart brand-icon"></i>
                <span>Stories</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_1">Inicio</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link click-scroll" href="">Como Funciona</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_2">Recursos do Love Stories</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_3">Depoimentos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_4">Valores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_5">Peça o seu</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_6">Suporte</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <main>

        <section class="hero-section d-flex" id="section_1">
            <div class="hero-container container d-flex flex-column justify-content-end">
                <div class="row h-100">

                    <div class="col-lg-6 col-12 my-auto">
                        <h2>👋 Olá, seja bem-vindo à Love Stories!</h2>

                        <h1 class="text-white hero-title mb-4">Seu amor merece uma história inesquecível</h1>

                        <a href="#section_4" class="custom-link custom-btn btn mt-4">Crie sua Love Story</a>
                    </div>

                    <div class="col-lg-3 col-12 save-the-date-wrap mt-auto ms-lg-auto">
                        <div class="save-the-date-thumb">
                            <h4 class="save-the-date-title">Save the date</h4>

                            <div class="save-the-date-body">
                                <span class="date">12 de junho de 2025</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- <section class="about-section section-padding" id="">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h2 class="section-title">Love Story</h2>

                            <div class="section-title-bottom">
                                <span class="section-title-line"></span>
                                <i class="section-title-icon bi-heart-fill"></i>
                                <span class="section-title-line"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="image-hover-thumb">
                            <img src="images/vertical-shot-beautiful-smiling-girl.jpg" class="about-image img-fluid"
                                alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="about-info-wrap d-flex flex-column">
                            <div class="about-info-title d-flex align-items-center my-3">
                                <h4>Jolie</h4>

                                <span class="about-tag ms-2">The Bride</span>
                            </div>

                            <p>Sarah is amazing. When I first met her I knew she was amazing and every passing day
                                reminds me of just how amazing she is!</p>

                            <div class="social-icon-wrap mt-auto">
                                <ul class="social-icon ms-auto">
                                    <li class="social-icon-item"><a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item"><a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item"><a href="#" class="social-icon-link bi-instagram"></a>
                                    </li>

                                    <li class="social-icon-item"><a href="#" class="social-icon-link bi-whatsapp"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="image-hover-thumb">
                            <img src="images/vertical-shot-young-handsome-guy-autumn-park.jpg"
                                class="about-image img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="about-info-wrap d-flex flex-column">
                            <div class="about-info-title d-flex align-items-center my-3">
                                <h4>Bratt</h4>

                                <span class="about-tag ms-2">The Groom</span>
                            </div>

                            <p>I really love her incredibly unique blend of talents.</p>

                            <p>She's a talented artist, always excited about a genuinely loving person.</p>

                            <div class="social-icon-wrap mt-auto">
                                <ul class="social-icon ms-auto">
                                    <li class="social-icon-item"><a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item"><a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item"><a href="#" class="social-icon-link bi-instagram"></a>
                                    </li>

                                    <li class="social-icon-item"><a href="#" class="social-icon-link bi-whatsapp"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section> -->

        <section class="the-wedding-section section-bg section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h2 class="section-title">Recursos do Love Stories</h2>

                            <div class="section-title-bottom">
                                <span class="section-title-line"></span>
                                <i class="section-title-icon bi-heart-fill"></i>
                                <span class="section-title-line"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
                        <div class="image-hover-thumb">
                            <img src="{% static 'home/images/galeria_de_fotos.png' %}" class="img-fluid" alt="">
                        </div>

                        <div class="section-block">
                            <h3 class="my-3">Galeria de Fotos</h3>

                            <p class="mb-2">
                                <i class="bi-camera me-1"></i>
                                Até 20 imagens com legendas personalizadas
                            </p>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
                        <div class="image-hover-thumb">
                            <img src="{% static 'home/images/carta.png' %}" class="img-fluid" alt="">
                        </div>

                        <div class="section-block">
                            <h3 class="my-3">Carta de Amor</h3>

                            <p class="mb-2">
                                <i class="bi-book me-1"></i>
                                Texto emotivo formatado em estilo “carta”
                            </p>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
                        <div class="image-hover-thumb">
                            <img src="{% static 'home/images/musica.png' %}" class="img-fluid" alt="">
                        </div>

                        <div class="section-block">
                            <h3 class="my-3">Trilha Sonora</h3>

                            <p class="mb-2">
                                <i class="bi-music-note me-1"></i>
                                Playlist customizada para tocar enquanto navegam
                            </p>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
                        <div class="image-hover-thumb">
                            <img src="{% static 'home/images/contador.png' %}" class="img-fluid" alt="">
                        </div>

                        <div class="section-block">
                            <h3 class="my-3">Contador</h3>

                            <p class="mb-2">
                                <i class="bi-hourglass-split me-1"></i>
                                Cronômetro regressivo para aniversários e datas especiais
                            </p>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
                        <div class="image-hover-thumb">
                            <img src="{% static 'home/images/link.png' %}" class="img-fluid" alt="">
                        </div>

                        <div class="section-block">
                            <h3 class="my-3">Link Exclusivo</h3>

                            <p class="mb-2">
                                <i class="bi-link-45deg me-1"></i>
                                URL privada para compartilhar com quem quiser
                            </p>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
                        <div class="image-hover-thumb">
                            <img src="{% static 'home/images/momentos.png' %}" class="img-fluid" alt="">
                        </div>

                        <div class="section-block">
                            <h3 class="my-3">Eternize Momentos</h3>

                            <p class="mb-2">
                                <i class="bi-stopwatch me-1"></i>
                                Momentos que serão para sempre únicos
                            </p>

                        </div>
                    </div>

                    <!-- <div class="col-lg-4 col-md-6 col-12 d-flex flex-column">
                        <iframe class="google-map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8046.475092226252!2d-73.9752829999323!3d40.766655075110314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f07d5da561%3A0x61f6aa300ba8339d!2sThe%20Plaza!5e1!3m2!1sen!2ssg!4v1662129560604!5m2!1sen!2ssg"
                            width="100%" height="310" allowfullscreen="" loading="lazy"></iframe>

                        <div class="section-block">
                            <h3 class="my-3">Location</h3>

                            <p class="mb-2">
                                <i class="bi-geo-alt me-1"></i>
                                5th Avenue at, Central Park S, New York, NY 10019, United States
                            </p>
                        </div>
                    </div> -->

                </div>
            </div>
        </section>

        <section class="people-section section-padding" id="section_3">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h2 class="section-title">O que as pessoas estão dizendo</h2>

                            <div class="section-title-bottom">
                                <span class="section-title-line"></span>
                                <i class="section-title-icon bi-heart-fill"></i>
                                <span class="section-title-line"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-12 me-auto">
                        <nav>
                            <div class="nav nav-tabs flex-lg-column align-items-baseline" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-groomsmen-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-groomsmen" type="button" role="tab"
                                    aria-controls="nav-groomsmen" aria-selected="true">
                                    <h3>O que eles falaram</h3>
                                </button>

                                <button class="nav-link" id="nav-bridesmaid-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-bridesmaid" type="button" role="tab"
                                    aria-controls="nav-bridesmaid" aria-selected="false">
                                    <h3>O que elas acharam</h3>
                                </button>
                            </div>
                        </nav>
                    </div>

                    <div class="col-lg-8 col-md-6 col-12">
                        <div class="tab-content" id="nav-tabContent">

                            <div class="tab-pane fade show active" id="nav-groomsmen" role="tabpanel"
                                aria-labelledby="nav-groomsmen-tab">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="people-thumb image-hover-thumb">
                                            <i class="bi-person depoimento-avatar"></i>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-12">
                                        <div class="section-block">
                                            <div class="d-flex align-items-center my-3">
                                                <h4 class="mb-0">Ricardo</h4>
                                                <span class="about-tag ms-2">Filho</span>
                                            </div>
                                            <p class="depoimento-texto">O presente perfeito para minha mãe no Dia das
                                                Mães. Eternizou nossa história.</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-12">
                                        <div class="people-thumb image-hover-thumb">
                                            <i class="bi-person depoimento-avatar"></i>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-12">
                                        <div class="section-block">
                                            <div class="d-flex align-items-center my-3">
                                                <h4 class="mb-0">Davi</h4>

                                                <span class="about-tag ms-2">Namorado</span>
                                            </div>

                                            <p class="depoimento-texto">Queria surpreender minha namorada com algo
                                                diferente... Quando vi esse
                                                site, soube na hora que era perfeito. Ela se emocionou demais, e eu
                                                também. É um presente que fala um pouco da nossa historia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade show" id="nav-bridesmaid" role="tabpanel"
                                aria-labelledby="nav-bridesmaid-tab">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="people-thumb image-hover-thumb">
                                            <i class="bi-person depoimento-avatar"></i>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-12">
                                        <div class="section-block">
                                            <div class="d-flex align-items-center my-3">
                                                <h4 class="mb-0">Julia</h4>

                                                <span class="about-tag ms-2">Namorada</span>
                                            </div>

                                            <p class="depoimento-texto">Achei fofo, achei lindo, achei muito criativo!
                                                Foi um presente muito
                                                diferente e eu amei a criatividade dele. Mexeu muito comigo, eu adorei!
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-12">
                                        <div class="people-thumb image-hover-thumb">
                                            <i class="bi-person depoimento-avatar"></i>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-12">
                                        <div class="section-block">
                                            <div class="d-flex align-items-center my-3">
                                                <h4 class="mb-0">Andreia</h4>

                                                <span class="about-tag ms-2">Mãe</span>
                                            </div>

                                            <p class="depoimento-texto">Ganhar esse site foi como reviver todos os
                                                momentos com meu filho. É um
                                                presente cheio de amor, que vou guardar pra sempre!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </section>

        <section class="gallery-section section-bg section-padding" id="section_4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center mb-5">
                        <h2 class="section-title">Escolha seu plano</h2>

                        <div class="section-title-bottom">
                            <span class="section-title-line"></span>
                            <i class="section-title-icon bi-heart-fill"></i>
                            <span class="section-title-line"></span>
                        </div>

                        <p class="text-muted">Compare os planos e veja qual combina mais com você</p>
                    </div>

                    <!-- Plano Básico -->
                    <div class="col-lg-5 col-md-6 col-12 mb-4">
                        <div class="custom-card">
                            <div class="d-flex justify-content-between align-items-center mb-3 plan-header">
                                <h4 class="mb-0">Plano Básico</h4>
                                <h3 class="text-primary mb-0">R$ 29,99</h3>
                            </div>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>🔗 Link exclusivo</li>
                                <li><i class="bi bi-qr-code me-1"></i> QR Code que conta sua história</li>
                                <li>📸 Galeria com até 5 imagens</li>
                                <li>💌 Carta de amor simples</li>
                            </ul>
                            <a href="#" class="btn custom-btn mt-3 btn-whatsapp" data-plan="Básico">
                                Escolher Plano
                            </a>
                        </div>
                    </div>

                    <!-- Plano Premium -->
                    <div class="col-lg-5 col-md-6 col-12 mb-4">
                        <div class="custom-card featured">
                            <div class="d-flex justify-content-between align-items-center mb-3 plan-header">
                                <h4 class="mb-0">Plano Premium</h4>
                                <h3 class="text-primary mb-0">R$ 49,99</h3>
                            </div>

                            <ul class="list-unstyled mt-3 mb-4">
                                <li>🔗 Link exclusivo</li>
                                <li><i class="bi bi-qr-code me-1"></i> QR Code que conta sua história</li>
                                <li>📸 Galeria com até 20 imagens</li>
                                <li>💌 Carta de amor completa</li>

                                <li>🎵 Trilha sonora personalizada</li>
                                <li>⏳ Contador para datas especiais</li>
                                <li>⚙️ Modifique o seu site até 3 vezes</li>
                            </ul>
                            <a href="#" class="btn custom-btn mt-3 btn-whatsapp" data-plan="Premium">
                                Escolher Plano
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="rsvp-section section-padding" id="section_5">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="rsvp-form-wrap">
                            <div class="section-title-wrap mb-5">
                                <h2 class="section-title">Peça o seu</h2>

                                <div class="section-title-bottom">
                                    <span class="section-title-line"></span>
                                    <i class="section-title-icon bi-heart-fill"></i>
                                    <span class="section-title-line"></span>
                                </div>
                            </div>

                            <h5 class="mb-4">Se interessou? <span class="text-muted">Deixa seu contato que eu falo com
                                    você!</span></h5>

                            <form class="custom-form rsvp-form" role="form" method="post" action="#section_5">
                                {% csrf_token %}
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-success w-100 text-center">
                                    {{ message }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <input type="text" name="name" id="name" class="form-control"
                                            placeholder="Nome Completo*" required>
                                    </div>

                                    <div class="col-lg-4 col-md-6 col-12">
                                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                            class="form-control" placeholder="Email*" required>
                                    </div>

                                    <div class="col-lg-4 col-12">
                                        <input type="tel" name="phone" id="phone" class="form-control"
                                            placeholder="Telefone*" required>
                                    </div>

                                    <div class="col-lg-12 col-12">
                                        <textarea class="form-control" id="message" name="message"
                                            placeholder="Mensagem (Opcional)" rows="5"></textarea>
                                    </div>

                                    <div class="col-lg-3 col-5 mx-auto">
                                        <button type="submit" class="form-control">Enviar Pedido</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="contact-section section-bg section-padding" id="section_6">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h2 class="section-title">Fale Conosco</h2>

                            <div class="section-title-bottom">
                                <span class="section-title-line"></span>
                                <i class="section-title-icon bi-heart-fill"></i>
                                <span class="section-title-line"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <h4 class="mb-4">Visite-nos</h4>

                        <p>Brasília - DF, Distrito Federal, Brasil

                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 my-4 my-lg-0 my-md-0">
                        <h4 class="mb-4">Informações de contato</h4>

                        <p class="mb-2">
                            <a href="mailto:darelitechnology@gmail.com">
                                darelitechnology@gmail.com
                            </a>
                        </p>

                        <p>
                            <a href="https://wa.me/5561998401140?text=Olá, quero saber mais sobre a Love Stories!">
                                61 9 9840-1140
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <h4 class="mb-4">Socials</h4>

                        <ul class="social-icon">
                            <!-- <li class="social-icon-item"><a href="" class="social-icon-link bi-twitter"></a></li> -->

                            <li class="social-icon-item"><a target="_blank" href="https://instagram.com/loveestoresz"
                                    class="social-icon-link bi-instagram"></a></li>

                            <li class="social-icon-item"><a target="_blank"
                                    href="https://wa.me/5561998401140?text=Olá, quero saber mais sobre a Love Stories!"
                                    class="social-icon-link bi-whatsapp"></a></li>

                            <li class="social-icon-item"><a target="_blank" href=""
                                    class="social-icon-link bi-tiktok"></a></li>

                            <!-- <li class="social-icon-item"><a href="https://fb.com/tooplate" target="_blank"
                                    class="social-icon-link bi-facebook"></a></li> -->
                        </ul>

                        <p class="copyright-text mt-3 mb-0">Copyright © 2036 Dareli Technology.
                            <br> Design: <a href="https://www.tooplate.com" target="_parent">Tooplate</a>
                        </p>
                    </div>

                </div>
            </div>
        </section>

    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mx-auto">
                    <a href="/" class="navbar-brand mx-auto mx-lg-0">
                        <span>Love</span>
                        <i class="bi-heart brand-icon"></i>
                        <span>Stories</span>
                    </a>
                </div>

            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'home/js/jquery.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'home/js/click-scroll.js' %}"></script>
    <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'home/js/magnific-popup-options.js' %}"></script>
    <script src="{% static 'home/js/custom.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // número do WhatsApp
            const phone = '5561998401140';

            // texto base com placeholder {plano}
            const template = `Oi! Tudo bem?
Escolhi o Plano {plano} e quero muito começar a montar minha página especial.
Como funciona agora?`;

            // para cada botão .btn-whatsapp
            document.querySelectorAll('.btn-whatsapp').forEach(btn => {
                const plano = btn.getAttribute('data-plan');
                const message = template.replace('{plano}', plano);
                const url = 'https://wa.me/' + phone + '?text=' + encodeURIComponent(message);
                btn.setAttribute('href', url);
                btn.setAttribute('target', '_blank');
            });
        });
    </script>

</body>

</html>