{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR Love</title>
  <link rel="stylesheet" href="{% static 'qrcode/css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'core/img/favicon.png' %}" type="image/x-icon">
</head>

<body>
  <h1>QR Code de {{ cliente.nome_casal }}</h1>
  <img src="{% url 'qr_code' slug=cliente.slug %}" alt="QR Code de {{ cliente.nome }}">
</body>

</html>